---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
    <div class="row">
      <div class="col-6">
        {% include index/featured-terms.html field="authors" title="Authors" btn-color="info" max="7" %}
      </div>
      <div class="col-6">
        {% include index/featured-terms.html field="journal" title="Top Journals" btn-color="outline-info" max=5 %}
      </div>
    </div>
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

       
    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>